@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    min-height: 100vh;
    text-align: center;
    font-family: Karla;
    border-style: solid;
    background-color: black;
    color: white;
}

header
{
    border: 1px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main
{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.result-div
{
    display: unset;
    margin: 20px 0 20px 0;
}



#number
{
    background-color: white;
    padding: 10px;
    width: 50px;
    text-align: center;
}

#number:focus
{
    outline: none;
}

.playAgain
{
    margin: 10px 0 0 0;
    display: block;
    color: black;
    border: 2px solid;
    padding: 7px;
    text-decoration: none;
    background-color: white;
}

.userChoices
{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid;
    margin: 20px 0 0 0;
}

.userChoices img
{
    padding: 10px;
    height: 100px;
    background-color: yellow;
    margin: 5px;
    border-radius: 50%;
}

.userChoices img:active
{
    outline: none;
    border-style: none;
    background-color: white;
    transform: scale(1.1);
}

.compChoices
{
    width: 30%;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid;

}

.compChoices img
{
    padding: 10px;
    height: 100px;
    background-color: red;
    margin: 5px;
    border: 1px solid;
    border-radius: 50%;
}

.compChoices
{
    margin: 0 0 20px 0;
}

.compChoices a
{
    display: none;
}

.rules
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rules h1
{
    margin: 10px 0 20px 0;
    text-decoration: underline;
}

.rules-container
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
}

.rules img{
    margin: 0 5px 0 5px;
}

.arrows{
    display: flex;
    flex-direction: column;
}



@media (max-width: 768px){
    .userChoices
    {
        width: 70%;
    }

}

@media (max-width: 425px){
    .userChoices
    {
        width: 100%;
    }

}